{% extends 'base.html' %}

{% block body %}

<h1>{{ the_title }}</h1>

<img alt="Photo:Pickle_Rick" src="{{ url_for('static', filename='images/Pickle_Rick.jpg') }}">
<p class="credit">pickle rick ~ rick and morty </p>

<p>index page for pickle rick.</p>

<!-- tribe{r3d_h3rr1n6_0bv10u5ly} -->

<ul>
  <li><a href="">The meme icon</a></li>
  <li><a href="">Funniest show on earth</a></li>
</ul>

<p>Pickle Rick refers to a series of images and references to the episode of Rick and Morty entitled "Pickle Rick," which sees the character of Rick being turned into a pickle.</p>

<p>He turns himself to a pickle. Funniest shit ever</p>

<p>(Text from <a href="https://knowyourmeme.com/memes/pickle-rick" target="">Know your meme</a>)</p>


{% endblock %}
